{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "rules": {
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "always"
        ]
    },
    "parserOptions": {
        "ecmaVersion": "latest"
    }
}